<template name="Dashboard">
    <div class="wrap">
        {{> Banner}}
        <div class="content-wrap">
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        {{> Pareto}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{#if remove}}
                            <a href="javascriot:void(0)" id="remove-graph">
                                <div class="text-content">
                                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                </div>
                            </a>
                            {{> Template.dynamic template=chart }}
                        {{/if}}
                        <a href="" class="choose" id="choose">
                            <div class="graphs choose-graphs-content">
                                <div class="text-content">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <p class="text-choose">Choose to Display</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        {{> Candlestick}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{> Xbar}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{> Yield}}
                    </div>
                    <div class="col-6">
                        {{> Range}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> Custom_dashboard}}
</template>