<template name="Dashboard">
    <div class="wrap">
        {{> Alert_message}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- {{> Pareto}} -->
                        {{> Xbar}}
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{section1}}
                <div id="section1" style="display:none">
                    <a href="javascriot:void(0)" id="removeGraph">
                        <div class="text-content">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="card">
                        <div class="card-body">   
                                {{> Template.dynamic template=section1 }}
                        </div>
                    </div>
                </div>
                <a href="" class="choose choose-section1" id="choose" data-value="section1" style="display:block">
                    <div class="choose-graphs-content">
                        <div class="text-content">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <p class="text-choose">Choose to Display</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                    {{section2}}
                <div id="section2" style="display:none">
                    <a href="javascriot:void(0)" id="removeGraph">
                        <div class="text-content">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="card">
                        <div class="card-body">
                                {{> Template.dynamic template=section2 }}
                        </div>
                    </div>
                </div>
                <a href="" class="choose choose-section2" id="choose" data-value="section2" style="display:block">
                    <div class="choose-graphs-content">
                        <div class="text-content">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <p class="text-choose">Choose to Display</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{section3}}
                <div id="section3" style="display:none">
                    <a href="javascriot:void(0)" id="removeGraph">
                        <div class="text-content">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="card">
                        <div class="card-body">
                                {{> Template.dynamic template=section3 }}
                        </div>
                    </div>
                </div>
                <a href="" class="choose choose-section3" id="choose" data-value="section3" style="display:block">
                    <div class="choose-graphs-content">
                        <div class="text-content">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <p class="text-choose">Choose to Display</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{section4}}
                <div id="section4" style="display:none">
                    <a href="javascriot:void(0)" id="removeGraph">
                        <div class="text-content">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="card">
                        <div class="card-body">
                                {{> Template.dynamic template=section4 }}
                        </div>
                    </div>
                </div>
                <a href="" class="choose choose-section4" id="choose" data-value="section4" style="display:block">
                    <div class="choose-graphs-content">
                        <div class="text-content">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <p class="text-choose">Choose to Display</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                {{section5}}
                <div id="section5" style="display:none">
                    <a href="javascriot:void(0)" id="removeGraph">
                        <div class="text-content">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="card">
                        <div class="card-body">
                            {{> Template.dynamic template=section5 }}
                        </div>
                    </div>
                </div>
                <a href="" class="choose choose-section5" id="choose" data-value="section5" style="display:block">
                    <div class="choose-graphs-content">
                        <div class="text-content">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <p class="text-choose">Choose to Display</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {{> Custom_dashboard}}
</template>