<template name="TesterChart">
    <!-- <div class="card"> -->
        <div class="charts table-section">
            <div class="custom-table">
                <p class="content-title align-center">Tester Alert Chart</p>
                <table class="white-table">
                    <tr class="table-header">
                        <th class="head-title"></th>
                        {{#each testers}}
                        <th class="head-title">{{name}}</th>
                        {{/each}}
                    </tr>
                    {{#each parameters}}
                    <tr class="table-row-cell">
                        <td class="table-cell">{{name}}</td>
                        <td class="table-cell"><span class="cell-result-good"></span></td>
                        <td class="table-cell"><span class="cell-result-warning"></span></td>
                        <td class="table-cell"><span class="cell-result-good"></span></td>
                        <td class="table-cell"><span class="cell-result-good"></span></td>
                        <td class="table-cell"><span class="cell-result-good"></span></td>
                        <td class="table-cell"><span class="cell-result-danger"></span></td>
                        <td class="table-cell"><span class="cell-result-good"></span></td>
                        <td class="table-cell"><span class="cell-result-good"></span></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    <!-- </div> -->
</template>