<template name="User_permission">
    <div class="user-permission-section">
        <div class="card">
            <div class="select-section">
                <a href="#" class="select select_all align-right">Select All</a>
                <a href="#" class="select unselect align-right">Unselect All</a>
                <!-- <a href="#" class="submit">go</a> -->
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Permissions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Create User</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" id="togBtn" value="asgasd">
                                <div class="slider round">
                                    <span class="on">ON</span>
                                    <span class="off">OFF</span>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Update User</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" id="togBtn" value="asgasd">
                                <div class="slider round">
                                    <span class="on">ON</span>
                                    <span class="off">OFF</span>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Delete User</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" id="togBtn" value="asgasd">
                                <div class="slider round">
                                    <span class="on">ON</span>
                                    <span class="off">OFF</span>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Read User</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" id="togBtn" value="asgasd">
                                <div class="slider round">
                                    <span class="on">ON</span>
                                    <span class="off">OFF</span>
                                </div>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>