<template name="App_sidebar">
    <div class="page-sidebar">
        <div class="navbar-logo">
            <div class="logo">
                <h1><a href="">Flex</a></h1>
            </div>
        </div>
        <div class="menus">
            <div class="profile-wrap align-center">
                <div class="profile-image">
                    <img src="/img/1.png" class="img-md rounded" alt="profile">
                </div>
                <div class="profile-desc">
                    <a href="#profile-nav">
                        <span class="align-right dropdown-toggle">
                            <i class="dropdown-caret"></i>
                        </span>
                        <p class="mnp-name">Danilo Benolirao</p>
                        <span class="small-desc">Admin</span>
                    </a>
                </div>
            </div>
            <div class="menu-list">
                <ul class="list-group" id="list-group">
                    <li class="list-header">navigation</li>
                    <li class="list">
                        <a href="/" class="button side-toggle active"
                            aria-expanded="false">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/admin/user" class="side-toggle" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="menu-title">User</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/dataentry" class="side-toggle" aria-expanded="false">
                            <i class="fa fa-columns" aria-hidden="true"></i>
                            <span class="menu-title">Testers</span>
                            <i class="fa fa-arrow"></i>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/" class="side-toggle" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                            <span class="menu-title">Configuration</span>
                            <span class="align-right dropdown-toggle">
                                <i class="dropdown-caret"></i>
                            </span>
                        </a>
                        <ul class="dropdown-wrap">
                            <li><a href="#">Product</a></li>
                            <li><a href="#">tester route</a></li>
                            <li><a href="#">parameter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="thin-menu displaynone">
            <i class="fa fa-home"></i>
            <div class="dropdown-content">
                <a href="/"><span>Dashboard</span></a>
                <div class="divide"></div>
                <a href="#"><span>Layouts</span></a>
            </div>
        </div>
        <div class="thin-menu displaynone">
            <i class="fa fa-columns" aria-hidden="true"></i>
            <div class="dropdown-content">
                <a href="/"><span>Dashboard</span></a>
                <div class="divide"></div>
                <a href="#"><span>Layouts</span></a>
            </div>
        </div>
        <div class="thin-menu displaynone">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <div class="thin-menu displaynone">
            <i class="fa fa-window-maximize" aria-hidden="true"></i>
        </div>
        <div class="thin-menu displaynone">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </div>
        <div class="thin-menu displaynone">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
        </div>
        <div class="thin-menu displaynone">
            <i class="fa fa-table" aria-hidden="true"></i>
        </div>
    </div>
</template>