<!-- configuration modal -->
<template name="Parameter">
    <div id="parameterModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Parameter</h5>
            </div>
            <div class="modal-body" style="height: 400px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each parameters}}
                            <tr>
                                <td class="parameter" data-id="{{_id}}">{{name}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal modal-default cancel">Cancel</button>
                <button type="button" class="btn-modal modal-info select-data">Select</button>
            </div>
        </div>
    </div>
</template>

<!-- custom dashboard modal -->
<template name="Custom_dashboard">
    <div id="formModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Graphs</h5>
            </div>
            <div class="modal-body" style="height:288px">
                <div class="graph-image">
                    <div class="row">
                        <div class="col-4">
                            <div class="image-content">
                                <div class="checked">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <img src="/img/LineGraph.png" alt="Xbar" class="sm-img">
                                <p>X Bar</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image-content">
                                <div class="checked">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <img src="/img/candlestick.png" alt="Candlestick" class="sm-img">
                                <p>Candlestick</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image-content">
                                <div class="checked">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <img src="/img/LineGraph.png" alt="Range" class="sm-img">
                                <p>Range Bar</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="image-content">
                                <div class="checked">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <img src="/img/histo.png" alt="Histograph" class="sm-img">
                                <p>Histograph</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image-content">
                                <div class="checked">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <img src="/img/yield.png" alt="Yield" class="sm-img">
                                <p>Yield</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image-content">
                                <div class="checked">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <img src="/img/pareto.png" alt="Pareto" class="sm-img">
                                <p>Pareto</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal modal-default cancel">Cancel</button>
                <button type="button" class="btn-modal modal-info select-graph">Select</button>
            </div>
        </div>
    </div>
</template>

<!-- delete modal -->
<template name="Delete_modal">
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close-toggle align-right"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h5>Delete Record</h5>
            </div>
            <div class="modal-body">
                <h4>Are You Sure You Want to Delete This Record ?</h4>
                <input type="hidden" id="delete_id" name="remove">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal modal-default cancel">Cancel</button>
                <button type="button" class="btn-modal modal-danger remove">Delete</button>
            </div>
        </div>
    </div>
</template>