<template name="Custom_dashboard_modal">
  <div id="formModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Graphs</h5>
      </div>
      <div class="modal-body">
        <div class="graph-image">
          <div class="row">
            <div class="col-4">
              <div class="image-content">
                <div class="checked">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <img src="/img/LineGraph.png" alt="linegraph" class="sm-img">
                <p>X Bar</p>
              </div>
            </div>
            <div class="col-4">
              <div class="image-content">
                <div class="checked">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <img src="/img/candlestick.png" alt="candlestick" class="sm-img">
                <p>Candlestick</p>
              </div>
            </div>
            <div class="col-4">
              <div class="image-content">
                <div class="checked">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <img src="/img/LineGraph.png" alt="linegraph" class="sm-img">
                <p>Range Bar</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="image-content">
                <div class="checked">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <img src="/img/histo.png" alt="histograph" class="sm-img">
                <p>Histograph</p>
              </div>
            </div>
            <div class="col-4">
              <div class="image-content">
                <div class="checked">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <img src="/img/yield.png" alt="yield" class="sm-img">
                <p>Yield</p>
              </div>
            </div>
            <div class="col-4">
              <div class="image-content">
                <div class="checked">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <img src="/img/pareto.png" alt="pareto" class="sm-img">
                <p>Pareto</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-modal modal-default cancel">Cancel</button>
        <button type="button" class="btn-modal modal-info select-data">Select</button>
      </div>
    </div>
  </div>
</template>