<template name="Configuration">
    <div class="configuration-section">
        <div class="content-wrap page">
            <div class="content">
                <div class="card form-page">
                    <form class="configuration-form" id="configuration-form">
                        <div class="form-title">
                            <div class="row">
                                <div class="col-12">
                                    <p>CONFIGURATION</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-content">
                            <div class="row">
                                <div class="col-6 form-inputs">
                                    <div class="forms">
                                        <p id="error-msg" style="color: #F16362;"></p>
                                        <div class="form-group">
                                            <label>Product</label>
                                            <select name="product" class="form-control" id="product" required>
                                                {{#each products}}
                                                    <option data-id="{{_id}}" value="{{name}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Sample Size</label>
                                            <input type="number" class="form-control" name="sampleSize" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Tester</label>
                                            <select name="tester" class="form-control" id="tester" required>
                                                {{#each testers}}
                                                    <option data-id="{{_id}}" value="{{name}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Parameter</label>
                                            <input type="hidden" name="parameter_id" id="parameter_id">
                                            <input type="text" class="form-control lookup" name="parameter" id="parameter" required>
                                            <a href="#" class="choose"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 form-role">
                                    <div class="forms">
                                        <div class="form-group">
                                            <label>Upper Control Limit</label>
                                            <input type="number" class="form-control" name="upperControlLimit" id="role">
                                        </div>
                                        <div class="form-group">
                                            <label>Lower Control Limit</label>
                                            <input type="number" class="form-control" name="lowerControlLimit" id="role">
                                        </div>
                                        <div class="form-group">
                                            <label>Upper Specification Limit</label>
                                            <input type="number" class="form-control" name="upperSpecLimit" id="role">
                                        </div>
                                        <div class="form-group">
                                            <label>Lower Specification Limit</label>
                                            <input type="number" class="form-control" name="lowerSpecLimit" id="role">
                                        </div>
                                        <div class="submit-button">
                                            <button class="button success configuration-form">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{> Parameter}}
</template>