<template name="Sidebar">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="logo">
                <a href="/" style="font-size:20px" class="mini-logo">FL</a>
                <a href="/" style="font-size:20px" class="whole-logo">FLEX</a>
            </div>
            <div class="user">
                <div class="user-img">
                    <img src="/img/profile.jpg" alt="profile" class="img-profile-sm">
                </div>
                <div class="user-info">
                    <a href="#" class="username collapsed">
                        <span>
                            Danilo Benolirao
                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        </span></a>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="menu-item active">
                        <a href="/" class="menu-link">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="menu-item inactive">
                        <a href="#" class="menu-link">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <p>Reports
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </p>
                        </a>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li class="menu-item">
                                    <a class="menu-link" href="/product">Product</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/">Parameters</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/">Testers</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>