<template name="role_insert">
  <div class="user_update_section">
      <div class="card">
          <form class="insert-role">
              <div class="update_form">
                  <div class="row">
                      <div class="col-6">
                          <div class="form-group">
                              <label>name</label>
                              <input type="text" class="form-control" name="name">
                          </div>
                      </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>permissions</label>
                                <input type="text" class="form-control" name="permission">
                            </div>
                        </div>
                        {{#each permissionData}}
                            {{currentPrizza}}
                        {{/each}}
                      <!-- <div class="col-6">
                            <div class="form-group">
                                {{#each permissionData}}
                                <input type="checkbox" name="permission">{{permission}}<br>
                                {{/each}}
                            </div>
                        </div>   -->
                  </div>
                  <div class="submit-button align-right">
                      <button>Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</template>