<template name="User_profile">
    <div class="user-profile-section">
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <div class="profile-image align-center">
                        <img src="/img/1.png" class="img " alt="profile">
                    </div>
                </div>
                <div class="col-9">
                    <div class="profile-info">
                        <div class="content-title">
                            <div class="border1"></div>
                            <p class="content-heading">User Profile</p>
                            <div class="border2"></div>
                        </div>
                        <div class="content-info">
                            <div class="row">
                                <div class="col-6">
                                    <p class="label">Firstname :</p>
                                    <p>Danilo</p>
                                </div>
                                <div class="col-6">
                                    <p class="label">Lastname :</p>
                                    <p>Benolirao</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="label">Gender :</p>
                                    <p>Male</p>
                                </div>
                                <div class="col-6">
                                    <p class="label">Birthdate :</p>
                                    <p>Januar 1, 1967</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="label">Contact no. :</p>
                                    <p>09231159983</p>
                                </div>
                                <div class="col-6">
                                    <p class="label">Tel. no :</p>
                                    <p>(032) 254 6677</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="label">Email Address :</p>
                                    <p>Danilo@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="label">Address :</p>
                                    Flex Cebu City
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>