<template name="Delete_modal">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close-toggle align-right"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h5>Delete Record</h5>
            </div>
            <div class="modal-body">
                <h4>Are You Sure You Want to Delete This Record ?</h4>
                <input type="hidden" id="delete_id" name="remove">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal modal-default cancel">Cancel</button>
                <button type="button" class="btn-modal modal-danger remove">Delete</button>
            </div>
        </div>
    </div>
</template>