<template name="Item">
    <div class="form_item_section">
        <div class="row">
            <div class="col-12">
                <form class="insert-data">
                    <div class="card ">
                        <div class="item_form">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item name</label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item catergory</label>
                                        <input type="number" class="form-control" name="sampleSize">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item productId</label>
                                        <input type="number" class="form-control" name="xBarUpperCtrlLimit">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item productName</label>
                                        <input type="number" class="form-control" name="xBarLowerCtrlLimit">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>parameter name</label>
                                            <input type="number" class="form-control" name="xBarUpperSpecLimit">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item sampleSize</label>
                                        <input type="number" class="form-control" name="xBarLowerSpecLimit">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item xBarUpperCtrlLimit</label>
                                        <input type="number" class="form-control" name="rUpperCtrlLimit">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item xBarLowerCtrlLimit</label>
                                        <input type="number" class="form-control" name="rLowerCtrlLimit">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item xBarUpperSpecLimit</label>
                                        <input type="number" class="form-control" name="rUpperSpecLimit">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Item xBarLowerSpecLimit</label>
                                        <input type="number" class="form-control" name="rLowerSpecLimit">
                                    </div>
                                </div>
                            </div>
                            <div class="submit-button align-right">
                                <button class="button success">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>