<template name="Kanban">
    <div class="kanban-section">
        <div class="content-wrap page">
            <div class="content">
                <div class="card">
                    <div class="section-title">
                        <p class="content-title">Kanban</p>
                    </div>
                    <div class="draglist">
                        <div class="row">
                            <div class="col-3">
                                <div id='issues' class='dragdrop'>
                                    <div class="draggable">
                                        <div class="drag-title">
                                            Issues
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id='analyzed' class='dragdrop'>
                                    <div class="draggable">
                                        <div class="drag-title">
                                            Analyzed
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id='action' class='dragdrop'>
                                    <div class="draggable">
                                        <div class="drag-title">
                                            Action
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div id='cleared' class='dragdrop'>
                                    <div class="draggable">
                                        <div class="drag-title">
                                            Cleared
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>